.signin{
    display: flex;
    flex-direction: row;
}

.image{
    padding: 6rem 0 0 7rem;
    
}

img {
    width: 5rem;
    height: 25rem;
}

.form{
   position: absolute;
   top: 20%;
   left: 50%;
}

h2{
    text-align: center;
    padding-top: 3rem;
    color: #34495E ;
}