.note-box {
    text-align: center; 
    padding: 1rem;
    height: 28rem;
    width: 25rem;
    overflow-y: auto;
    color: #34495E;
    margin-left: 7.5rem;
    border-radius: 50px;
    background: #ffff;
    box-shadow:  11px 11px 22px #d5d5d5,
                 -11px -11px 22px #ebebeb;
  }

  .text{
    display: flex;
    flex-direction: row; 
    padding-top: 18rem;
    text-align: start;
  }
  
  textarea {
    width: 90%;
  }

  .save{
    background-color: #34495E;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
    height:2rem;
    width: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .note-list{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    margin-bottom: 1rem;
  }

  .delete-btn{
    margin-right: 1rem;
    background-color: #ffff;
  }
